@charset "UTF-8";

html {
    background-color: #fff;
}
p {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2vh;
}
.categories {
    font-size: 3vh;
    text-align: center;
    color: white;
    background: -webkit-linear-gradient(#7966FF, #00CCCC);
    opacity: 0.5;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}
.logoNavBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.logolinks {
    height: 5vh;
    opacity: .5;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.2);
}
.logolinks:hover {
    height: 100px;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    perspective: 500px;
    transform: perspective(500px) rotateY(35deg) rotateX(25deg);
}
.row img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 5px #ddd;
}
footer {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vh;
    color: white;
    text-align: center;
    overflow-x: hidden;
    position: static;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9);
}