html {
    background-color: white;
    overflow-x: hidden;
}
h1 {
    font-size: 8vw;
    text-align: center;
    background: -webkit-linear-gradient(#7966FF, #00CCCC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 {
    text-align: center;
}
.logoNavBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.logolinks {
    height: 5vh;
    opacity: .5;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.2);
}
.logolinks:hover {
    height: 100px;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    perspective: 500px;
    transform: perspective(500px) rotateY(35deg) rotateX(25deg);
}
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.projects img {
    height: 400px;
    padding: 10px;
    background: -webkit-linear-gradient(#7966FF, #00CCCC);
}
.desc {
    padding:10px;
    margin-bottom: 10px;
    text-align: center;
}
footer {
    position: static;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.5vh;
}